.hero-banner {
    background: $very-light-gray;        
    padding: 0 0 80px;    
    position: relative;        
    
    @include breakpoint(large) {
        align-items: center;
        display: flex;             
        min-height: 655px;
    }
    
    &:before {
        background: url('./../../images/bg-intro-mobile.svg') top right no-repeat;    
        content:'';
        display: block;        
        position: absolute;
        top: -60px;
        right: 0;
        bottom: 0;
        left: 0;
        
        @include breakpoint(large) {            
            background: $very-light-gray url('./../../images/bg-intro-desktop.svg') 0 -260px no-repeat;
            width: 800px;
            max-width: 50vw;
            top: 0;
            left: auto;
        }
    }

    &__img {
        transform: translateY(-100px);
        margin: 0 0 -120px; 
        padding: 0 20px;

        @include breakpoint(large) {
            transform: translateY(0);
            position: absolute;
            margin: 0;
            bottom: -150px;
            right: -150px;
            z-index: 0;
            max-width: 60vw;
        }
    }

    &__inner {
        max-width: $site-width; 
        margin: 0 auto;
        width: 100%;

        @include breakpoint(xlarge) {            
            @include column(10); 
        } 
    }

    &__content {
        text-align: center;
        padding: 0 16px;
        position: relative;                
        z-index: 2;            

        @include breakpoint(large) {                                   
            text-align: left;            
            max-width: 50vw;
        }

        @include breakpoint(xlarge) {
            padding: 0;
            max-width: 40%;
        }
    }

    &__title,
    &__text {
        margin: 30px auto;
        @include breakpoint(large) { 
            margin: 30px 0;
        }
    }

    &__title {
        max-width: 18ch;
    }

    &__text {                
        font-weight: $regular;              
        max-width: 46ch;
    }
}