.nav {
    $this: &;    
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;    
    text-align: center;
    max-width: 90vw;
    margin: 0 auto;
    visibility: hidden;    
    transition: opacity 0.25s ease-in;

    @include breakpoint(large) {
        background: transparent;
        display: block;
        position: static;
        padding: 0;
        margin: 0;
        flex-grow: 1;
        visibility: visible;
    }

    &:before {
        background: linear-gradient(
            180deg,
            rgba($dark-blue, 1) 30%,
            rgba($very-light-gray, 0.3) 100%
        );
        content: '';
        display: block;
        position: fixed;
        top: 60px;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
        opacity: 0;
        transition: opacity 0.25s ease-in;

        @include breakpoint(large) {
            display: none;
        }
    }
    
    &--open {
        visibility: visible;        

        #{$this}__list {
            opacity: 1;
            transform: translateY(0);
            transition: opacity 0.25s ease-in, transform 0.25s ease-in;
        }

        #{$this}__item {            
            opacity: 1;
            transform: translateY(0);
            @for $i from 1 through 5 {
                &:nth-child(#{$i}) {
                    transition-delay: 0.25s + $i / 20;
                }
            }
        }

        &:before {
            opacity: 0.8;
        }
    }    

    &__list {
        background: $white;
        border-radius: 10px;
        padding: 20px;
        margin: 0;
        opacity: 0;        
        transform: translateY(-10px);

        @include breakpoint(large) {
            border-radius: 0;
            padding: 0;
            opacity: 1;
            transform: translateY(0);
        }
    }

    &__item {        
        list-style: none;    
        opacity: 0;    
        transition: opacity 0.25s ease-in, transform 0.25s ease-in;
        transform: translateY(-10px);    

        @include breakpoint(large) {
            display: inline-block;
            margin: 0 20px;
            opacity: 1;
            transform: translateY(0);
        }
        
    }

    &__link {
        color: $grayish-blue;
        display: block;
        padding: 10px 0;
        text-decoration: none;
        position: relative;

        &:after {
            background: $lime-green linear-gradient(90deg, $lime-green 0%, $bright-cyan 100%);
            content: '';
            display: block;
            position: absolute;
            left: 0;
            right: 0;
            bottom: -18px;
            height: 3px;
            opacity: 0;
            transition: opacity 0.3s ease-in-out, color 0.3s ease-in-out;
        }

        &:hover {      
            color: $dark-blue;
            &:after {
                opacity: 1;
            }      
        }
    }
}
