.nav {
    background: $white;
    border-radius: 10px;
    display: none;
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    padding: 20px;
    text-align: center;
    max-width: 90vw;
    margin: 0 auto; 
    
    @include breakpoint(large) {
        background: transparent;
        display: block;
        position: static;
        padding: 0;
        margin: 0;
        flex-grow: 1;
    }

    &:before {
        background: linear-gradient(
            180deg,
            rgba($dark-blue, 1) 30%,
            rgba($very-light-gray, 0.3) 100%
        );
        content: '';
        display: block;
        position: fixed;
        top: 60px;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
        opacity: 0.8;

        @include breakpoint(large) {
            display: none;
        }
    }

    &__list {
        padding: 0;
        margin: 0;
    }

    &__item {        
        list-style: none;        

        @include breakpoint(large) {
            display: inline-block;
            margin: 0 20px;
        }
        
    }

    &__link {
        color: $grayish-blue;
        display: block;
        padding: 10px 0;
        text-decoration: none;
        position: relative;

        &:after {
            background: $lime-green linear-gradient(90deg, $lime-green 0%, $bright-cyan 100%);
            content: '';
            display: block;
            position: absolute;
            left: 0;
            right: 0;
            bottom: -18px;
            height: 3px;
            opacity: 0;
            transition: opacity 0.3s ease-in-out, color 0.3s ease-in-out;
        }

        &:hover {      
            color: $dark-blue;
            &:after {
                opacity: 1;
            }      
        }
    }
}
